# Text editing.
*~

# OCaml.
_build
*.cm*
*.o
*.native
*.byte

# CFML.
settings.sh
*.d
*.cmj
*_ml.v
_output
_cf

# Coq (using TLC's Makefile.coq).
*.v.d
*.vio
*.vo
*.vo.aux
*.aux
*.vq
_CoqProject
*.glob
*.coq-native
.coqide
nlia.cache
.lia.cache
.nia.cache
